:root {
    --clr-accent-300: rgba(110, 141, 110, 0.57);
    --clr-secondary-600: #626262;
    --clr-secondary-900: #414141;
}

body {
    background-color: beige;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--clr-secondary-900);
}

.hidden {
    display: none;
}

.flow-container {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: row;
    gap: .5em;
}

.flow-column {
    flex-direction: column;
}

.flow-stretch {
    flex: 1;
}

.board-grid {
    margin: 4em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 16em;
    height: 16em;
    gap: .25em;
    padding: .25em;
    background-color: var(--clr-secondary-600);
    border-radius: .25em;
}

.cell {
    color: var(--clr-secondary-900);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: .25em;
    border: .5em solid var(--clr-accent-300);
    font-size: 1.5em;
    font-weight: bold;
}

button {
    color: var(--clr-secondary-900);
    margin-top: 4em;
    width: 8em;
    height: 4em;
    border-radius: 24em;
    border: .5em solid var(--clr-accent-300);
    font-size: 1em;
    font-weight: bold;
}

label {
    font-weight: bold;
}

input[type="text"] {
    color: var(--clr-secondary-900);
    padding: .25em;
    font-size: medium;
    border: .25em solid var(--clr-accent-300);
    border-radius: .25em;
}

input[type="text"]:focus-within {
    outline: none;
}

select {
    padding: .25em;
    font-size: medium;
    border: .25em solid var(--clr-accent-300);
    border-radius: .25em;
    outline: none;
}

option {
    color: var(--clr-secondary-900);
    font-size: medium;
}

h1 {
    text-decoration: underline;

}

h2 {
    text-decoration: dotted underline;
}

#win-message {
    margin-top: 4em;
    font-size: 4em;
}
