body {
    background-color: beige;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hidden {
    display: none;
}

.flow-container {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: row;
}

.flow-column {
    flex-direction: column;
}
